<p>
  <strong>Event:</strong>
  <%= @invoice.purchasable.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @invoice.purchasable.ticket_price %>
</p>

<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :purchasable_type %>
  <%= f.hidden_field :purchasable_id %>

  <div class="field">
    <%= f.label :customer %><br>
    <%= f.text_field :customer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
